* {
    font-family: Arial, Helvetica, sans-serif;
}

.campos {
    display: flex;
    flex-direction: column;

}

.cadastro {
    display: flex;
    width: 600px;
    background-color: rgb(212, 210, 210);
    border-radius: 6px;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 20px;
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button{
    width: 48%;
}


input {
    width: 97%;
    padding: 8px;
    border: none;
    border-radius: 3px;
}

nav {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 8%;
}


h1 {
    display: flex;
    justify-content: flex-start;
}

p {
    font-size: medium;
}

.navega {
    color: white;
    padding: 10px;
    background-color: rgb(107, 107, 107);
    border-radius: 4px;
    margin: 8px;
    text-decoration: none;
}

body {
    border: none;
    margin: 0;
    padding: 0;
}

table {
    border-radius: 6px;
    overflow: hidden;
}


